.btnStepper{
    color: #fff !important; 
    background-color: #21bd6f !important;
    height: 25px !important;
    position: relative !important;
    top: 20%  !important;
    width: 20% !important;

    &:hover {
        color: #007d73 !important; // Change the background color on hover
        background-color: #fff !important;
    }

    &:disabled {
        opacity: 0.5; // Example: reduce opacity when disabled
        cursor: not-allowed; // Example: change cursor to not-allowed
        color: #fff;
    }
}
.btnBack{
    background-color: #2775e2 !important;
}