.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 2%;
    width: 80%;
    @media(max-width: 750px) {
        padding-top: 5%;
    }
}

.stack-content {
    width: 80%;
    margin-top: 25px;
    align-self: center;

    @media(max-width: 600px) {
        width: 100%;
    }
}

.stackBox-content {
    flex-direction: column;
    padding-top: 2;
    width: 80;
    gap: 5%;

    @media(max-width: 600px) {
        width: 100%;
    }
}

.outerDialog{
    width: 100%;
    @media(max-width: 600px) {
        width: 100%;
    }
}

.paidForm{
    display: flex;
    width: 100%;
    
    overflow: auto;
    @media (max-width: 1027px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.datePicker , .hourPicker {
    width: 100%;
    overflow: hidden;
}

.datePicker div div button, .hourPicker  div div button{
    margin: 0;
    
}

.hourPicker >div {
    width: 100%;
}
.modalFormRow{
    display: flex;
    width: 100%;
    flex-direction: row;
    @media (max-width: 750px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.modalFormContent{
    display: flex;
    width: 50%;
    @media (max-width: 750px) {
        width: 100%;
    }
}
.modalFormInputs{
    width: 100%;
    text-align: left;

}

.dateTimePickerForm{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}