.modalForm {
    display: flex;
    gap: 1%;
    width: 100%;

}

.combined-row {
    background-color: lightcoral;
    /* Cambia el color de fondo según tus necesidades */
}

.modalFormColumn {
    display: flex;
    gap: 1%;
    width: 100%;
    flex-direction: column;
    overflow: auto;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.modalContent {
    width: 100%;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.paginationResponsive {
    display: flex;

    @media (max-width: 840px) {
        flex-direction: column;
    }
}

.elementsModal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.elementRight {
    @media (max-width: 600px) {
      margin-right: 10px; 
    }
  }


  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilizar el "thumb" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #00a99e; /* Color del thumb */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilizar el "track" (la pista de la barra) */
::-webkit-scrollbar-track {
    background: lightgray; /* Color de fondo del track */
}